USE [master]
GO
/****** Object:  Database [CollegeBase]    Script Date: 03.06.2023 23:11:24 ******/
CREATE DATABASE [CollegeBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CollegeBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CollegeBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CollegeBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CollegeBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CollegeBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CollegeBase]
GO
/****** Object:  Table [dbo].[Attestation]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attestation](
	[SubjectSpecialityId] [int] NOT NULL,
	[SyllabusId] [int] NOT NULL,
	[AttestationFormId] [int] NOT NULL,
	[Qty] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Attestation] PRIMARY KEY CLUSTERED 
(
	[SubjectSpecialityId] ASC,
	[SyllabusId] ASC,
	[AttestationFormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttestationForm]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttestationForm](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_AttestationForm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectProfessorId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentSupply]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentSupply](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NOT NULL,
	[SupplyTypeId] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_DocumentSupply] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[Number] [int] NOT NULL,
	[StartYear] [int] NOT NULL,
	[SpecialityId] [nvarchar](10) NOT NULL,
	[QualificationId] [int] NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoadType]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoadType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LoadType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Professor]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Professor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualification]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SpecialityId] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Qualification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Speciality]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Speciality](
	[Id] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Speciality] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectCategory]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IndexName] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_SubjectCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectIndex]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_SubjectIndex] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectLoad]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectLoad](
	[SubjectSemesterId] [int] NOT NULL,
	[LoadTypeId] [int] NOT NULL,
	[QtyHours] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_SubjectLoad] PRIMARY KEY CLUSTERED 
(
	[SubjectSemesterId] ASC,
	[LoadTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectProfessor]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectProfessor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectSemesterId] [int] NOT NULL,
	[ProfessorId] [int] NOT NULL,
 CONSTRAINT [PK_SubjectProfessor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectSemester]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectSemester](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectSpecialityId] [int] NOT NULL,
	[Semester] [int] NOT NULL,
	[SyllabusId] [int] NOT NULL,
	[TotalQtyHours] [int] NOT NULL,
 CONSTRAINT [PK_SubjectSemester] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectSpeciality]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectSpeciality](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[SpecialityId] [nvarchar](10) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IndexName] [int] NOT NULL,
	[QualificationId] [int] NOT NULL,
	[StartYear] [int] NOT NULL,
 CONSTRAINT [PK_SubjectSpeciality] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplyType]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplyType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SupplyType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Syllabus]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Syllabus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupNumber] [int] NOT NULL,
	[AcademicYear] [char](9) NOT NULL,
 CONSTRAINT [PK_Syllabus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 03.06.2023 23:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ProfessorId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Attestation] ([SubjectSpecialityId], [SyllabusId], [AttestationFormId], [Qty]) VALUES (1, 1, 1, N'2')
INSERT [dbo].[Attestation] ([SubjectSpecialityId], [SyllabusId], [AttestationFormId], [Qty]) VALUES (1, 1, 7, N'1')
INSERT [dbo].[Attestation] ([SubjectSpecialityId], [SyllabusId], [AttestationFormId], [Qty]) VALUES (1, 5, 1, N'2')
GO
SET IDENTITY_INSERT [dbo].[AttestationForm] ON 

INSERT [dbo].[AttestationForm] ([Id], [Name]) VALUES (1, N'Экзамены')
INSERT [dbo].[AttestationForm] ([Id], [Name]) VALUES (2, N'Зачеты')
INSERT [dbo].[AttestationForm] ([Id], [Name]) VALUES (3, N'Диффер. зачеты')
SET IDENTITY_INSERT [dbo].[AttestationForm] OFF
GO
SET IDENTITY_INSERT [dbo].[Document] ON 

INSERT [dbo].[Document] ([Id], [SubjectProfessorId], [Note]) VALUES (1, 1, N'')
INSERT [dbo].[Document] ([Id], [SubjectProfessorId], [Note]) VALUES (2, 2, N'')
INSERT [dbo].[Document] ([Id], [SubjectProfessorId], [Note]) VALUES (3, 3, N'556')
GO
SET IDENTITY_INSERT [dbo].[Document] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentSupply] ON 

INSERT [dbo].[DocumentSupply] ([Id], [DocumentId], [SupplyTypeId], [Date]) VALUES (1, 1, 1, CAST(N'2023-03-30' AS Date))
INSERT [dbo].[DocumentSupply] ([Id], [DocumentId], [SupplyTypeId], [Date]) VALUES (2, 2, 1, CAST(N'2023-03-30' AS Date))
INSERT [dbo].[DocumentSupply] ([Id], [DocumentId], [SupplyTypeId], [Date]) VALUES (10, 51, 1, CAST(N'2023-01-13' AS Date))
SET IDENTITY_INSERT [dbo].[DocumentSupply] OFF
GO
INSERT [dbo].[Group] ([Number], [StartYear], [SpecialityId], [QualificationId]) VALUES (1, 2019, N'09.02.01', 1)
INSERT [dbo].[Group] ([Number], [StartYear], [SpecialityId], [QualificationId]) VALUES (3, 2019, N'09.02.07', 8)
INSERT [dbo].[Group] ([Number], [StartYear], [SpecialityId], [QualificationId]) VALUES (4, 2019, N'09.02.07', 6)
GO
SET IDENTITY_INSERT [dbo].[LoadType] ON 

INSERT [dbo].[LoadType] ([Id], [Name]) VALUES (1, N'Максимальная')
INSERT [dbo].[LoadType] ([Id], [Name]) VALUES (2, N'Самост.(с.р.+и.п.)')
INSERT [dbo].[LoadType] ([Id], [Name]) VALUES (3, N'Консультации')
SET IDENTITY_INSERT [dbo].[LoadType] OFF
GO
SET IDENTITY_INSERT [dbo].[Professor] ON 

INSERT [dbo].[Professor] ([Id], [LastName], [FirstName], [Patronymic]) VALUES (1, N'Головко', N'Римма', N'Анатольевна')
INSERT [dbo].[Professor] ([Id], [LastName], [FirstName], [Patronymic]) VALUES (2, N'Исмаилов', N'Эльвин', N'Расим Оглы')
INSERT [dbo].[Professor] ([Id], [LastName], [FirstName], [Patronymic]) VALUES (3, N'Евтушенко', N'Екатерина', N'Дмитриевна')
SET IDENTITY_INSERT [dbo].[Professor] OFF
GO
SET IDENTITY_INSERT [dbo].[Qualification] ON 

INSERT [dbo].[Qualification] ([Id], [SpecialityId], [Name]) VALUES (1, N'09.02.01', N'Техник по компьютерным системам')
INSERT [dbo].[Qualification] ([Id], [SpecialityId], [Name]) VALUES (2, N'09.02.01', N'Специалист по компьютерным системам')
INSERT [dbo].[Qualification] ([Id], [SpecialityId], [Name]) VALUES (3, N'09.02.06', N'Сетевой и системный администратор')
SET IDENTITY_INSERT [dbo].[Qualification] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Председатель УМО')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Преподаватель')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[Speciality] ([Id], [Name]) VALUES (N'09.02.01', N'Компьютерные системы и комплексы')
INSERT [dbo].[Speciality] ([Id], [Name]) VALUES (N'09.02.06', N'Сетевое и системное администрирование')
INSERT [dbo].[Speciality] ([Id], [Name]) VALUES (N'09.02.07', N'Информационные системы и программирование')
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([Id], [Name]) VALUES (1, N'Русский язык')
INSERT [dbo].[Subject] ([Id], [Name]) VALUES (2, N'Литература')
INSERT [dbo].[Subject] ([Id], [Name]) VALUES (3, N'Иностранный язык')
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[SubjectCategory] ON 

INSERT [dbo].[SubjectCategory] ([Id], [IndexName], [Name]) VALUES (1, N'БД', N'Базовые дисциплины')
INSERT [dbo].[SubjectCategory] ([Id], [IndexName], [Name]) VALUES (2, N'ЕН', N'Математический и общий естественнонаучный учебный цикл')
INSERT [dbo].[SubjectCategory] ([Id], [IndexName], [Name]) VALUES (3, N'ОГСЭ', N'Общий гуманитарный и социально-экономический учебный цикл')
SET IDENTITY_INSERT [dbo].[SubjectCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[SubjectIndex] ON 

INSERT [dbo].[SubjectIndex] ([Id], [Name]) VALUES (1, N'ОУДб.01')
INSERT [dbo].[SubjectIndex] ([Id], [Name]) VALUES (2, N'ОУДб.02')
INSERT [dbo].[SubjectIndex] ([Id], [Name]) VALUES (3, N'ОУДб.03')
SET IDENTITY_INSERT [dbo].[SubjectIndex] OFF
GO
INSERT [dbo].[SubjectLoad] ([SubjectSemesterId], [LoadTypeId], [QtyHours]) VALUES (1, 1, N'34')
INSERT [dbo].[SubjectLoad] ([SubjectSemesterId], [LoadTypeId], [QtyHours]) VALUES (1, 4, N'34')
INSERT [dbo].[SubjectLoad] ([SubjectSemesterId], [LoadTypeId], [QtyHours]) VALUES (1, 5, N'34')
GO
SET IDENTITY_INSERT [dbo].[SubjectProfessor] ON 

INSERT [dbo].[SubjectProfessor] ([Id], [SubjectSemesterId], [ProfessorId]) VALUES (1, 21, 3)
INSERT [dbo].[SubjectProfessor] ([Id], [SubjectSemesterId], [ProfessorId]) VALUES (2, 135, 3)
INSERT [dbo].[SubjectProfessor] ([Id], [SubjectSemesterId], [ProfessorId]) VALUES (3, 9, 3)
GO
SET IDENTITY_INSERT [dbo].[SubjectProfessor] OFF
GO
SET IDENTITY_INSERT [dbo].[SubjectSemester] ON 

INSERT [dbo].[SubjectSemester] ([Id], [SubjectSpecialityId], [Semester], [SyllabusId], [TotalQtyHours]) VALUES (1, 1, 1, 1, 34)
INSERT [dbo].[SubjectSemester] ([Id], [SubjectSpecialityId], [Semester], [SyllabusId], [TotalQtyHours]) VALUES (2, 2, 1, 1, 51)
INSERT [dbo].[SubjectSemester] ([Id], [SubjectSpecialityId], [Semester], [SyllabusId], [TotalQtyHours]) VALUES (3, 3, 1, 1, 51)
GO
SET IDENTITY_INSERT [dbo].[SubjectSemester] OFF
GO
SET IDENTITY_INSERT [dbo].[SubjectSpeciality] ON 

INSERT [dbo].[SubjectSpeciality] ([Id], [SubjectId], [SpecialityId], [CategoryId], [IndexName], [QualificationId], [StartYear]) VALUES (1, 1, N'09.02.07', 1, 1, 6, 2019)
INSERT [dbo].[SubjectSpeciality] ([Id], [SubjectId], [SpecialityId], [CategoryId], [IndexName], [QualificationId], [StartYear]) VALUES (2, 2, N'09.02.07', 1, 2, 6, 2019)
INSERT [dbo].[SubjectSpeciality] ([Id], [SubjectId], [SpecialityId], [CategoryId], [IndexName], [QualificationId], [StartYear]) VALUES (3, 3, N'09.02.07', 1, 3, 6, 2019)
GO
SET IDENTITY_INSERT [dbo].[SubjectSpeciality] OFF
GO
SET IDENTITY_INSERT [dbo].[SupplyType] ON 

INSERT [dbo].[SupplyType] ([Id], [Name]) VALUES (1, N'РП (эл. вид)')
INSERT [dbo].[SupplyType] ([Id], [Name]) VALUES (2, N'РП (печатный вид)')
INSERT [dbo].[SupplyType] ([Id], [Name]) VALUES (3, N'КТП (эл. вид)')
SET IDENTITY_INSERT [dbo].[SupplyType] OFF
GO
SET IDENTITY_INSERT [dbo].[Syllabus] ON 

INSERT [dbo].[Syllabus] ([Id], [GroupNumber], [AcademicYear]) VALUES (1, 4, N'2019-2020')
INSERT [dbo].[Syllabus] ([Id], [GroupNumber], [AcademicYear]) VALUES (2, 4, N'2020-2021')
INSERT [dbo].[Syllabus] ([Id], [GroupNumber], [AcademicYear]) VALUES (3, 4, N'2021-2022')
SET IDENTITY_INSERT [dbo].[Syllabus] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Login], [Password], [RoleId], [ProfessorId]) VALUES (1, N'golovkora', N'Aa123456789@', 1, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Attestation]  WITH CHECK ADD  CONSTRAINT [FK_Attestation_AttestationForm] FOREIGN KEY([AttestationFormId])
REFERENCES [dbo].[AttestationForm] ([Id])
GO
ALTER TABLE [dbo].[Attestation] CHECK CONSTRAINT [FK_Attestation_AttestationForm]
GO
ALTER TABLE [dbo].[Attestation]  WITH CHECK ADD  CONSTRAINT [FK_Attestation_SubjectSpeciality] FOREIGN KEY([SubjectSpecialityId])
REFERENCES [dbo].[SubjectSpeciality] ([Id])
GO
ALTER TABLE [dbo].[Attestation] CHECK CONSTRAINT [FK_Attestation_SubjectSpeciality]
GO
ALTER TABLE [dbo].[Attestation]  WITH CHECK ADD  CONSTRAINT [FK_Attestation_Syllabus] FOREIGN KEY([SyllabusId])
REFERENCES [dbo].[Syllabus] ([Id])
GO
ALTER TABLE [dbo].[Attestation] CHECK CONSTRAINT [FK_Attestation_Syllabus]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_SubjectProfessor] FOREIGN KEY([SubjectProfessorId])
REFERENCES [dbo].[SubjectProfessor] ([Id])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_SubjectProfessor]
GO
ALTER TABLE [dbo].[DocumentSupply]  WITH CHECK ADD  CONSTRAINT [FK_DocumentSupply_Document] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Document] ([Id])
GO
ALTER TABLE [dbo].[DocumentSupply] CHECK CONSTRAINT [FK_DocumentSupply_Document]
GO
ALTER TABLE [dbo].[DocumentSupply]  WITH CHECK ADD  CONSTRAINT [FK_DocumentSupply_SupplyType] FOREIGN KEY([SupplyTypeId])
REFERENCES [dbo].[SupplyType] ([Id])
GO
ALTER TABLE [dbo].[DocumentSupply] CHECK CONSTRAINT [FK_DocumentSupply_SupplyType]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Qualification] FOREIGN KEY([QualificationId])
REFERENCES [dbo].[Qualification] ([Id])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Qualification]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Speciality] FOREIGN KEY([SpecialityId])
REFERENCES [dbo].[Speciality] ([Id])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Speciality]
GO
ALTER TABLE [dbo].[Qualification]  WITH CHECK ADD  CONSTRAINT [FK_Qualification_Speciality] FOREIGN KEY([SpecialityId])
REFERENCES [dbo].[Speciality] ([Id])
GO
ALTER TABLE [dbo].[Qualification] CHECK CONSTRAINT [FK_Qualification_Speciality]
GO
ALTER TABLE [dbo].[SubjectLoad]  WITH CHECK ADD  CONSTRAINT [FK_SubjectLoad_LoadType] FOREIGN KEY([LoadTypeId])
REFERENCES [dbo].[LoadType] ([Id])
GO
ALTER TABLE [dbo].[SubjectLoad] CHECK CONSTRAINT [FK_SubjectLoad_LoadType]
GO
ALTER TABLE [dbo].[SubjectLoad]  WITH CHECK ADD  CONSTRAINT [FK_SubjectLoad_SubjectSemester] FOREIGN KEY([SubjectSemesterId])
REFERENCES [dbo].[SubjectSemester] ([Id])
GO
ALTER TABLE [dbo].[SubjectLoad] CHECK CONSTRAINT [FK_SubjectLoad_SubjectSemester]
GO
ALTER TABLE [dbo].[SubjectProfessor]  WITH CHECK ADD  CONSTRAINT [FK_SubjectProfessor_Professor] FOREIGN KEY([ProfessorId])
REFERENCES [dbo].[Professor] ([Id])
GO
ALTER TABLE [dbo].[SubjectProfessor] CHECK CONSTRAINT [FK_SubjectProfessor_Professor]
GO
ALTER TABLE [dbo].[SubjectProfessor]  WITH CHECK ADD  CONSTRAINT [FK_SubjectProfessor_SubjectSemester] FOREIGN KEY([SubjectSemesterId])
REFERENCES [dbo].[SubjectSemester] ([Id])
GO
ALTER TABLE [dbo].[SubjectProfessor] CHECK CONSTRAINT [FK_SubjectProfessor_SubjectSemester]
GO
ALTER TABLE [dbo].[SubjectSemester]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSemester_SubjectSpeciality] FOREIGN KEY([SubjectSpecialityId])
REFERENCES [dbo].[SubjectSpeciality] ([Id])
GO
ALTER TABLE [dbo].[SubjectSemester] CHECK CONSTRAINT [FK_SubjectSemester_SubjectSpeciality]
GO
ALTER TABLE [dbo].[SubjectSemester]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSemester_Syllabus] FOREIGN KEY([SyllabusId])
REFERENCES [dbo].[Syllabus] ([Id])
GO
ALTER TABLE [dbo].[SubjectSemester] CHECK CONSTRAINT [FK_SubjectSemester_Syllabus]
GO
ALTER TABLE [dbo].[SubjectSpeciality]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSpeciality_Qualification] FOREIGN KEY([QualificationId])
REFERENCES [dbo].[Qualification] ([Id])
GO
ALTER TABLE [dbo].[SubjectSpeciality] CHECK CONSTRAINT [FK_SubjectSpeciality_Qualification]
GO
ALTER TABLE [dbo].[SubjectSpeciality]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSpeciality_Speciality] FOREIGN KEY([SpecialityId])
REFERENCES [dbo].[Speciality] ([Id])
GO
ALTER TABLE [dbo].[SubjectSpeciality] CHECK CONSTRAINT [FK_SubjectSpeciality_Speciality]
GO
ALTER TABLE [dbo].[SubjectSpeciality]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSpeciality_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
GO
ALTER TABLE [dbo].[SubjectSpeciality] CHECK CONSTRAINT [FK_SubjectSpeciality_Subject]
GO
ALTER TABLE [dbo].[SubjectSpeciality]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSpeciality_SubjectCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[SubjectCategory] ([Id])
GO
ALTER TABLE [dbo].[SubjectSpeciality] CHECK CONSTRAINT [FK_SubjectSpeciality_SubjectCategory]
GO
ALTER TABLE [dbo].[SubjectSpeciality]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSpeciality_SubjectIndex] FOREIGN KEY([IndexName])
REFERENCES [dbo].[SubjectIndex] ([Id])
GO
ALTER TABLE [dbo].[SubjectSpeciality] CHECK CONSTRAINT [FK_SubjectSpeciality_SubjectIndex]
GO
ALTER TABLE [dbo].[Syllabus]  WITH CHECK ADD  CONSTRAINT [FK_Syllabus_Group] FOREIGN KEY([GroupNumber])
REFERENCES [dbo].[Group] ([Number])
GO
ALTER TABLE [dbo].[Syllabus] CHECK CONSTRAINT [FK_Syllabus_Group]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Professor] FOREIGN KEY([ProfessorId])
REFERENCES [dbo].[Professor] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Professor]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
